
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-chat">
                <div class="card-header">
                    <h4 class="card-title">Chat</h4>
                    <p class="category">Con Treisi Mishel</p>
                </div>
                <div class="card-content scroll-perso" id="fondo-mensaje" >
                </div>
                <div class="card-contenet">
                    <div class="send-message">
                        <div class="avatar">
                            <img src="{{usuario.foto}}" alt="crash"/>
                        </div>
                        <input class="form-control textarea" id="mensajeNuevo" type="text" id="mensaje" placeholder="Type here!"/>
                        <div class="send-button">
                            <button class="btn btn-primary btn-fill" id="send">Send</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
